In [8]:
n = int(input().strip())
a = []
for a_i in range(n):
    a_t = [int(a_temp) for a_temp in input().strip().split(' ')]
    a.append(a_t)
    
print(a)
l = 0
r = 0
for i in range(n):
    l += a[i][i]
    r += a[i][n - 1- i]
print(abs(l - r))

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
0

In [11]:
n = int(input().strip())
for i in range(n):
    for j in range(n):
        if i + j >= n - 1:
            print("#", end='')
        else:
            print(" ", end='')
    print("")

5
    #
   ##
  ###
 ####
#####

In [18]:
time = input().strip()
arr = time.split(":")
print(arr)
if arr[3] == "PM":
    hours = int(arr[0])
    hours += 12
    arr[0] = str(hours)
arr.pop()
new_time = ":".join(arr)
print(new_time)

07:15:02:PM
['07', '15', '02', 'PM']
19:15:02

In [39]:
time = input().strip()
arr = time.split(":")
if "P" in time:
    hours = int(arr[0])
    hours += 12
    if hours > 23:
        hours = "00"
    new_time = ":".join([str(hours),arr[1], arr[2][:2]])
else:
    new_time = ":".join([arr[0],arr[1], arr[2][:2]])
print(new_time)

12:15:14PM
00:15:14

In [6]:
def array_left_rotation(a, n, k):
    for i in range(k):
        temp = a.pop(0)
        a.append(temp)
    return a

n, k = map(int, input().strip().split(' '))
a = list(map(int, input().strip().split(' ')))
answer = array_left_rotation(a, n, k);
print(*answer, sep=' ')

5 4
1 2 3 4 5
5 1 2 3 4

In [11]:
def number_needed(a, b):
    count = 0
    for i in a:
        if i not in b:
            count += 1
    for j in b:
        if j not in a:
            count += 1
    return count

a = input().strip()
b = input().strip()

print(number_needed(a, b))

assdf
asxc
4

In [5]:
n = int(input().strip())
l = []
for _ in range(n):
    s = input().split()
    cmd = s[0]
    args = s[1:]
    if cmd !="print":
        cmd += "("+ ",".join(args) +")"
        eval("l."+cmd)
    else:
        print(l)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
print
[5, 10, 9, 1]
sort
pop
reverse
print
[9, 5, 1]

In [4]:
N = int(input())
lst = []
for i in range(N):
    next_line = input().split()
    command = next_line[0]
    arguments = ",".join(next_line[1:])
    if command == "print":
        print(lst)
    else:
        eval("lst." + command + "(" + arguments + ")")

3
insert 0 3
append 4
print
[3, 4]

In [8]:
n = int(input())
integer_list = map(int, input().split())
t = tuple(integer_list)
print(hash(t))

3
1 2 3
2528502973977326415

In [14]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
lst = [[a,b,c] for a in range(x + 1) for b in range(y + 1) for c in range(z + 1) if a + b + c != n ]
print(lst)

2
3
4
6
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 0, 4], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 3], [0, 1, 4], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 2, 3], [0, 3, 0], [0, 3, 1], [0, 3, 2], [0, 3, 4], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3], [1, 0, 4], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 4], [1, 3, 0], [1, 3, 1], [1, 3, 3], [1, 3, 4], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 0, 3], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 1, 4], [2, 2, 0], [2, 2, 1], [2, 2, 3], [2, 2, 4], [2, 3, 0], [2, 3, 2], [2, 3, 3], [2, 3, 4]]

In [40]:
n = int(input())
arr = map(int, input().split())
lst = list(set(arr))
lst.sort()
print(lst[-2])

4
55 -55 55 -55
-55

In [48]:
meal = float(input())
tip = int(input())
tax = int(input())
total = round(meal + meal*tip/100 + meal*tax/100, 0)
print("The total meal cost is %d dollars." % total)

50
12
14
The total meal cost is 63 dollars.

In [60]:
grades = []
scores = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    scores.append(score)
    grades.append([name, score])
lst = list(set(scores))
lst.sort()
num = lst[1]
for student, grade in grades:
    if grade == num:
        print(student)
print(grades)

5
harry
37.21
berry
37.21
tina
37.2
akriti
41
harsh
39
harry
berry
[['harry', 37.21], ['berry', 37.21], ['tina', 37.2], ['akriti', 41.0], ['harsh', 39.0]]

In [73]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    total_score = 0.0
    total_num = float(len(student_marks[query_name]))
    for mark in student_marks[query_name]:
        total_score += mark
    ave = float(total_score/ total_num)
    print("%.2f" % ave)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [80]:
eng_total = int(input())
a = input().split()
fra_total = int(input())
b = input().split()
count = 0
for i in a:
    if i not in b:
        print(i)
        count += 1
for j in b:
    if j not in a:
        print(j)
        count += 1
print(a,b, count)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4
5
7
9
10
11
21
55
['1', '2', '3', '4', '5', '6', '7', '8', '9'] ['10', '1', '2', '3', '11', '21', '55', '6', '8'] 8