In [16]:
tot = 0
for i in range(30):
    x = 0.01
    tot += x * 2 **i
    print("On day %d there are $%01.2f for a total of $%01.2f" % (i + 1,  x * 2 **i, tot))

On day 1 there are $0.01 for a total of $0.01
On day 2 there are $0.02 for a total of $0.03
On day 3 there are $0.04 for a total of $0.07
On day 4 there are $0.08 for a total of $0.15
On day 5 there are $0.16 for a total of $0.31
On day 6 there are $0.32 for a total of $0.63
On day 7 there are $0.64 for a total of $1.27
On day 8 there are $1.28 for a total of $2.55
On day 9 there are $2.56 for a total of $5.11
On day 10 there are $5.12 for a total of $10.23
On day 11 there are $10.24 for a total of $20.47
On day 12 there are $20.48 for a total of $40.95
On day 13 there are $40.96 for a total of $81.91
On day 14 there are $81.92 for a total of $163.83
On day 15 there are $163.84 for a total of $327.67
On day 16 there are $327.68 for a total of $655.35
On day 17 there are $655.36 for a total of $1310.71
On day 18 there are $1310.72 for a total of $2621.43
On day 19 there are $2621.44 for a total of $5242.87
On day 20 there are $5242.88 for a total of $10485.75
On day 21 there are $10485.76 for a total of $20971.51
On day 22 there are $20971.52 for a total of $41943.03
On day 23 there are $41943.04 for a total of $83886.07
On day 24 there are $83886.08 for a total of $167772.15
On day 25 there are $167772.16 for a total of $335544.31
On day 26 there are $335544.32 for a total of $671088.63
On day 27 there are $671088.64 for a total of $1342177.27
On day 28 there are $1342177.28 for a total of $2684354.55
On day 29 there are $2684354.56 for a total of $5368709.11
On day 30 there are $5368709.12 for a total of $10737418.23

In [31]:
def is_prime(n):
    x = int(n/2)
    for i in range(1, x):
        if n % i == 0:
            return False
    return True

print(is_prime(2))

True

In [34]:
%timeit is_prime(11184739)

The slowest run took 4.27 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 655 ns per loop

In [43]:
def S(seq, i=0):
    if i == len(seq):
        return 0
    return S(seq, i+1) + seq[i]
seq = range(1,101)
S(seq)

5050

In [44]:
def T(seq, i=0):
    if i == len(seq):
        return 1
    return T(seq, i+1) + 1
T(seq)

101